extends ./views/layout/layout-tour.pug     
block vars
    - var title = 'WEBTOUR';
block main 
    main
        include ./views/home/topview    
        include ./views/home/toptours    
        include ./views/home/popularflex    
        include ./views/home/populargrid    
        include ./views/home/gem  
        include ./views/home/layout1   
        include ./views/home/layout2   
        include ./views/home/diamon   
    








