section.popular-flex   
    .container 
        h2.heading Popular things to do in Bangkok
        .popular-list-flex 
            +popularItemFlex('https://plus.unsplash.com/premium_photo-1682098240884-9dfc7bf048f0?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') 
            +popularItemFlex('https://images.unsplash.com/photo-1506781961370-37a89d6b3095?auto=format&fit=crop&q=80&w=1074&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            +popularItemFlex('https://plus.unsplash.com/premium_photo-1661766983546-c923002564a5?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            +popularItemFlex('https://images.unsplash.com/photo-1564312683505-a6b3168439b7?auto=format&fit=crop&q=80&w=1288&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')